.contact {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	background: #fbeec1;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
	grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
	place-items: center;
}

.contactLeftLine {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 100%;
	color: black;
	height: 1px;
	background-color: black;
}

.contactRightLine {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	color: black;
	width: 100%;
	height: 1px;
	background-color: black;
}

.contactTitle {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 2.8rem;
	vertical-align: center;
	font-weight: bold;
}

.contactInfo {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.4rem;
	align-self: start;
}

.contactBtn {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.contactBtns {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}

.signature {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
	max-height: 10rem;
	max-width: 10rem;
}

.contactBtnStyle {
	padding: 0rem;
	margin: 1rem;
	border-radius: rem;
	background-color: rgba(0, 0, 0, 0);
	border: hidden;
}

.contactBtnImg {
	height: 2rem;
	width: 2rem;
	border-radius: 0.2rem;
}

.signatureImg {
	max-height: 10rem;
	max-width: 10rem;
}

@media only screen and (max-width: 800px) {
	.contact {
		grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
		grid-template-rows: 5rem auto auto auto auto 0.7rem;
	}

	.contactTitle {
		font-size: 1.8rem;
	}

	.contactInfo {
		font-size: 1.2rem;
	}

	.contactBtnStyle {
		margin: 0.2rem;
	}
}
