.pageNavbar {
	position: fixed;
	z-index: 1;
	width: 83.336%;
	margin-left: 8.333%;
	margin-right: 8.333%;
	justify-content: center;
	background: grey;
}

@media only screen and (max-width: 800px) {
	.pageNavbar {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		font-size: 0.7rem;
	}
}
