.navbar {
	position: fixed;
	z-index: 1;
	width: 83.336%;
	margin-left: 8.333%;
	margin-right: 8.333%;
	justify-content: center;
	background-color: #1f2833;
}

.nav-item {
	background: #0b0c10;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.nav-link {
	color: #45a29e;
}

.nav-link:hover {
	color: #66fcf1;
}

@media only screen and (max-width: 800px) {
	.navbar {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		font-size: 0.7rem;
	}

	.nav-link {
		font-size: 0.6rem;
	}
}
