.skills {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	background-image: url(../images/yellowstripes.svg);
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 8fr 0.5fr;
}

.skillsLeftLine {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 100%;
	color: black;
	height: 1px;
	background-color: black;
	margin: auto;
}

.skillsRightLine {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	color: black;
	width: 100%;
	height: 1px;
	background-color: black;
	margin: auto;
}

.skillsTitle {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 2.8rem;
	margin: auto;
	font-weight: bold;
}

.skillsInfo {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1.4rem;
}

.skillsGrid {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.frontend {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 3;
	border: ridge;
	background: white;
}

.backend {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	border: ridge;
	background: white;
}

.tools {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
	border: ridge;
	background: white;
}

.skillsImg {
	height: 80%;
	width: 80%;
}

.htmlx {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.cssx {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.sassx {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.reactx {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.bootstrapx {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.reduxx {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.webpackx {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.applex {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.photoshopx {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.nodejsx {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 60%;
	max-height: 60%;
}

.expressx {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.mongoosex {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.mongodbx {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.mysqlx {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.awsx {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.sublimex {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: auto;
	max-width: 75%;
	max-height: 75%;
}

.npmx {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.herokux {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.githubx {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}

.wordpressx {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
}
