.App {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 50rem 0rem 58rem 85rem 20rem;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.background {
  background-image: url("./images/chickensoup.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50rem;
  width: 83.336%;
  z-index: -1;
  margin-left: 8.333%;
  margin-right: 8.333%;
}

.leftPadding {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  background: #0b0c10;
}

.rightPadding {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  background: #0b0c10;
}

@media only screen and (max-width: 800px) {
  .App {
    display: grid;
    grid-template-columns: 0fr 10fr 0fr;
    grid-template-rows: 35rem 52rem 120rem 100rem 20rem;
  }

  .background {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
